<a href="https://colab.research.google.com/github/G544/good_mood/blob/main/ver1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline
import seaborn as sns
import datetime

In [61]:
month='01'
day_list=['01','11','21','31']
#РАБОТАЕТ НЕ ТРОГАй
def li_read(month, day): # считывает
    print('li_'+str(month)+'_'+str(day))
    globals()['li_'+str(month)+'_'+str(day)]=pd.read_csv('/content/drive/My Drive/гуд муд/line_items{month}/line_items_2020-{month}-{day}.csv'.
                      format(month=month, day=day))



def gp_price(month,day): # считает цену
  gp= globals()['li_'+str(month)+'_'+str(day)].groupby('shipment_id')[['price']].sum()
  pr_shp=pd.DataFrame()
  pr_shp['shipment_id']=gp.index
  pr_shp['price']=np.array(gp['price'])
  return pr_shp
  

def merge_for_day(month, day,val1,val2):
  new_df=pd.merge(val1,val2,on='shipment_id', how='outer')
  cols=np.array(new_df.columns)
  new_df.rename(columns={cols[-1]:'price{d}'.format(d=day)},inplace=True)
  return new_df

In [117]:
month='01'
day_list=['11','21','31']
day0='01'
# !!!! РАБОТАЕТ НЕ ТРОГАй. УБЬЮ
def price_for_month(month, day_list, first_day): # В day_list не указывать первый день
  day0=first_day
  li_read(month, day0)
  val=gp_price(month,day0)

  for day in day_list:
    li_read(month, day)
    val_tmp=gp_price(month,day)
    tmp_df=merge_for_day(month, day,val,val_tmp)
    val=tmp_df



  val.fillna(0, inplace=True)
  cols = np.array(val.columns)[1:val.shape[1]]
  table_for_month = val.eval("price = {}".format("+".join(cols))).drop(columns=cols)
  return table_for_month

In [118]:
# Пример вызова 
price_for_month(month, day_list, day0)

li_01_01
li_01_11
li_01_21
li_01_31

       shipment_id        price
0           387023  3603.940004
1           442659  4724.860004
2           571826  5364.870020
3           616984  5959.800014
4           695703  6960.119991
...            ...          ...
84062      2350243  6814.740026
84063      2350247  4599.449989
84064      2350288   795.460003
84065      2350326  2742.389961
84066      2350349  1758.450001

[84067 rows x 2 columns]